# ═══════════════════════════════════════════════════
# KonfiturGame — Variables d'environnement
# Copier ce fichier en .env et remplir toutes les valeurs
# NE JAMAIS COMMITER le fichier .env
# ═══════════════════════════════════════════════════

# ═══ DOMAINE ═══
DOMAIN=localhost

# ═══ APPWRITE ═══
ADMIN_EMAIL=aaa@aaaa.aa
APPWRITE_PROJECT_ID= #id du projet dans appwrite
APPWRITE_API_KEY=  # Généré dans la console Appwrite
APPWRITE_OPENSSL_KEY=  # openssl rand -hex 32
APPWRITE_APP_SMTP_HOST= #exemple resend
APPWRITE_APP_SMTP_PORT=
APPWRITE_APP_SMTP_SECURE=
APPWRITE_APP_SMTP_USERNAME=
APPWRITE_APP_SMTP_PASSWORD=
APPWRITE_APP_SYSTEM_EMAIL_ADDRESS=
APPWRITE_APP_SYSTEM_EMAIL_NAME=
APPWRITE_EXECUTOR_SECRET=

# ═══ DISCORD OAUTH2 ═══
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

# ═══ GOOGLE OAUTH2 ═══
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# ═══ BASE DE DONNÉES ═══
MARIADB_ROOT_PASSWORD=                     # openssl rand -base64 32
MARIADB_PASSWORD=                          # openssl rand -base64 32

# ═══ REDIS ═══
REDIS_PASSWORD=                            # openssl rand -base64 32

# ═══ TRAEFIK ═══
TRAEFIK_DASHBOARD_AUTH=                    # htpasswd -nB admin

# ═══ NEXT.JS ═══
NEXT_PUBLIC_SITE_URL=https://konfiturgame.fr
NEXT_PUBLIC_APPWRITE_ENDPOINT=http://api.konfiturgame.fr/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID= #id du projet dans appwrite

# ═══ LOGGING INTERNE ═══
LOG_INTERNAL_SECRET=changeme_in_production   # Clé partagée middleware ↔ /api/log

